[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pavel Filatov (neiromancer)
[access "refs/for/refs/*"]
	read = group user/Pavel Filatov (neiromancer)
	push = group user/Pavel Filatov (neiromancer)
	label-Code-Review = -2..+2 group user/Pavel Filatov (neiromancer)
	label-Verified = -1..+1 group user/Pavel Filatov (neiromancer)
	rebase = group user/Pavel Filatov (neiromancer)
	removeReviewer = group user/Pavel Filatov (neiromancer)
	submit = group user/Pavel Filatov (neiromancer)
[access "refs/heads/*"]
	read = group user/Pavel Filatov (neiromancer)
	create = group user/Pavel Filatov (neiromancer)
	push = +force group user/Pavel Filatov (neiromancer)
	pushMerge = group user/Pavel Filatov (neiromancer)
[access "refs/tags/*"]
	push = +force group user/Pavel Filatov (neiromancer)
	pushTag = group user/Pavel Filatov (neiromancer)
	pushSignedTag = group user/Pavel Filatov (neiromancer)
